In [1]:
# cargar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Cargamos el conjunto de datos
datos_malos = pd.read_excel("/content/Datos_Malos_Unidad2.xlsx")

datos_malos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2076 entries, 0 to 2075
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MUNICIPIO  2076 non-null   object
 1   GÉNERO     2076 non-null   object
 2   EDAD       2074 non-null   float64
 3   ESTRATO    2068 non-null   float64
 4   NSMMLV     2076 non-null   int64
 5   CASA       2076 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 97.4+ KB

In [6]:
datos_malos.columns

Index(['MUNICIPIO', 'GÉNERO', 'EDAD', 'ESTRATO', 'NSMMLV', 'CASA'], dtype='object')

In [ ]:
# Descripcion de variables categoricas
print(datos_malos.MUNICIPIO.value_counts())
print(datos_malos.GÉNERO.value_counts())
print(datos_malos.CASA.value_counts())

In [9]:
# Limpeza de la Variable Municipio
municipios_s = datos_malos.MUNICIPIO.unique()

In [ ]:
municipios_s.sort()
municipios_s

In [14]:
minicipios_ok = ['BARBOSA', 'BELLO', 'BARBOSA', 'BELLO', 'CALDAS', 'COPACAVANA',
       'COPACAVANA', 'CALDAS', 'CALDAS', 'COPACAVANA', 'COPACAVANA',
       'MEDELLÍN', 'ENVIGADO', 'ENVIGADO', 'ENVIGADO', 'ENVIGADO',
       'ENVIGADO', 'LA ESTRELLA', 'ENVIGADO', 'ENVIGADO', 'ENVIGADO',
       'LA ESTRELLA', 'GIRARDOTA', 'GIRARDOTA', 'GIRARDOTA', 'ITAGÜÍ',
       'ITAGÜÍ', 'ITAGÜÍ', 'ITAGÜÍ', 'ITAGÜÍ', 'LA ESTRELLA', 'MEDELLÍN',
       'MEDELLÍN', 'MEDELLÍN', 'MEDELLÍN', 'MEDELLÍN', 'MEDELLÍN',
       'MEDELLÍN', 'SABANETA', 'SABANETA', 'BARBOSA', 'BELLO', 'SABANETA',
       'BELLO', 'ENVIGADO', 'LA ESTRELLA', 'MEDELLÍN', 'MEDELLÍN']

In [15]:
# Diccionario de municipios
dic_municipios = dict(zip(municipios_s, minicipios_ok))

In [ ]:
dic_municipios

In [17]:
# Reemplazo de la variable MUICIPIO
municipios_limpios = datos_malos.MUNICIPIO.map(dic_municipios)

In [50]:
municipios_limpios.value_counts()

MUNICIPIO
MEDELLÍN       500
GIRARDOTA      292
ITAGÜÍ         252
COPACAVANA     252
BARBOSA        218
BELLO          174
SABANETA       168
LA ESTRELLA    113
ENVIGADO        77
CALDAS          30
Name: count, dtype: int64

In [ ]:
# Variable Genero
datos_malos.GÉNERO.value_counts(dropna=False)

In [ ]:
genero_s = datos_malos.GÉNERO.unique()
genero_s

In [23]:
genero_ok = ['M', 'F', 'M', 'F', 'M', 'OTRO', 'F', 'F', "OTRO", "OTRO",
       "OTRO", "OTRO", "OTRO"]

In [49]:
dic_genero = dict(zip(genero_s, genero_ok))
genero_limpios = datos_malos.GÉNERO.map(dic_genero)
genero_limpios.value_counts(dropna=False)

GÉNERO
F       945
M       891
OTRO    240
Name: count, dtype: int64

In [ ]:
# Varaible EDAD
datos_malos.EDAD.unique()

In [29]:
# Limpieza de la variable EDAD
media_edad = int(datos_malos.EDAD.mean())
datos_malos.EDAD = datos_malos.EDAD.replace({430:media_edad,
                                             0:media_edad,
                                             2:media_edad,
                                             187:media_edad})

In [ ]:
datos_malos.EDAD.unique()

In [48]:
datos_malos.EDAD = datos_malos.EDAD.fillna(media_edad)
datos_malos.EDAD.unique()

array([32., 47., 39., 35., 45., 73., 49., 61., 27., 70., 77., 24., 60.,
       66., 52., 43., 67., 20., 56., 74., 29., 75., 44., 41., 46., 26.,
       57., 38., 58., 34., 48., 25., 36., 30., 40., 42., 22., 63., 62.,
       53., 18., 76., 51., 68., 64., 31., 37., 33., 21., 72., 28., 54.,
       50., 65., 19., 55., 59., 23., 71., 69.,  7.])

In [ ]:
# Variable Estrato
datos_malos.ESTRATO.value_counts(dropna=False)

In [ ]:
datos_malos.ESTRATO = datos_malos.ESTRATO.fillna("NO RESPONDE")
datos_malos.ESTRATO.value_counts(dropna=False)

In [47]:
# Variable NSMMLV
datos_malos.NSMMLV.value_counts(dropna=False)

NSMMLV
3    605
5    448
7    405
1    329
4    271
0     18
Name: count, dtype: int64

In [ ]:
# Variable CASA
datos_malos.CASA.unique()

In [43]:
datos_malos.CASA = datos_malos.CASA.replace({"Arrendada":"ARRENDADA",
                                            "Arendada":"ARRENDADA",
                                             "propia":"PROPIA",
                                             "PORPIA":"PROPIA",
                                             0:"NO RESPONDE"})
datos_malos.CASA.value_counts(dropna=False)

CASA
PROPIA         1394
ARRENDADA       660
NO RESPONDE      22
Name: count, dtype: int64

In [44]:
# Creamos el DF con las variables limpias
datos_limpios = pd.concat([municipios_limpios, genero_limpios, datos_malos.EDAD, datos_malos.ESTRATO, datos_malos.NSMMLV, datos_malos.CASA], axis=1)
datos_limpios.head()

  MUNICIPIO GÉNERO  EDAD ESTRATO  NSMMLV       CASA
0  MEDELLÍN      M  32.0     3.0       7     PROPIA
1  MEDELLÍN      F  47.0     3.0       7  ARRENDADA
2  MEDELLÍN      F  39.0     3.0       3     PROPIA
3  MEDELLÍN      M  35.0     3.0       5  ARRENDADA
4  MEDELLÍN      F  45.0     1.0       5     PROPIA

In [45]:
datos_limpios.tail()

     MUNICIPIO GÉNERO  EDAD ESTRATO  NSMMLV       CASA
2071    ITAGÜÍ   OTRO  26.0     4.0       3     PROPIA
2072    ITAGÜÍ      F  32.0     5.0       0     PROPIA
2073    ITAGÜÍ      M  31.0     3.0       1  ARRENDADA
2074    ITAGÜÍ      F  42.0     3.0       5     PROPIA
2075    ITAGÜÍ   OTRO  76.0     3.0       7     PROPIA

In [46]:
# Creamos un archivo excel
datos_limpios.to_excel("Datos_Limpios.xlsx")